<!DOCTYPE html>
<html>
  <body class="about-background">

  	<div class="col-sm-12 about-section">
  		<div class="modal-content-block-about">
		  	<form class="form-signin col-12">
	  			<h1 class="about-title text-center text-xxxl">I T I N</h1>
	  			<h4 class="text-center pb-30">Why did we create this service?</h4>
	  			<div class="text-justify" style="max-width: 74rem;">
	  				<p class="first-about-p pb-30">
	  					We know that planning an itinerary can be troublesome. We often found ourselves with our friends but without a plan for the rest of the day. We also often found ourselves at home by ourselves, not knowing what to do. Sometimes its difficult to know what activities to do around our area. And even if we knew the destination, its hard to fit a plan into everyone's availability.

	  					At I T I N, we created a platform to streamline making itineraries for you and your friends. No plans yet? We got it covered.
		  	  		</p>
		  	  	</div>

		  	</form>

  		</div>
  	</div>
  	<div class="col-sm-12 about-section pb-30">
  		<div class="modal-content-block-about">
		  	<form class="form-about col-12">
	  			<h4 class="text-center ourteam">Our Team</h4>
	  			<div class="row">
	  				<div class="col-sm-6">
						<img class="team-images" src="https://media.licdn.com/dms/image/C4D03AQFwH09mag4hng/profile-displayphoto-shrink_200_200/0?e=1550707200&v=beta&t=Va0yIz5RvGniprza-U-uwegabXNSZLVTdvM-byrGyJU" >
						<h3 class="text-bold team-name">Michael Ning</h3>
						<p class="name-title">Co-founder</p>
						<p class="name-descrip">Student @ Virginia Tech</p>
						<p class="name-descrip pb-30">Interned @ Lockheed Martin</p>

	  				</div>
	  				<div class="col-sm-6">
						<img class="team-images" src="https://media.licdn.com/dms/image/C5603AQEO60BGh0eS-A/profile-displayphoto-shrink_800_800/0?e=1550707200&v=beta&t=6EP2LSEZUaxbIjVr4ejiJz_720sqFEA26q8vu9NOZ5E">
						<h3 class="team-name">Kunal Puri</h3>
						<p class="name-title">Co-founder</p>
						<p class="name-descrip">Student @ Virginia Tech</p>
						<p class="name-descrip pb-30">Interned @ Booz Allen Hamilton</p>


	  				</div>
	  			</div>
		  	</form>

  		</div>
  	</div>
  </body>
</html>
