<!DOCTYPE html>
<html>

<body>
<div class="view" style="background-image: linear-gradient(to bottom right,#af76bc,#d39128); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="container text-center  mb-sm-5" style="color:#e8f7ea; width: 500px">
      		<h1 class="font-weight-bold mt-sm-5">Personalize an itinerary for you or your friends today!</h1>
<!--             <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
-->                
			<hr class="hr-light">
        	<h5 class="mb-4">Do you ever want to hang out with your friends but aren't sure of what to do?</h5>
        	<h5> </h5>
        	<h5 class="mb-4">We got it covered</h5>
        	<h5> </h5>
        	<h5 class="mb-4">Tell us your preferences and we can help you figure out your plans for you and your friends</h5>
        	<a class="btn btn-primary btn-lg">Get Started</a>
        	<a class="btn btn-secondary btn-lg">Learn more</a>
<!--         	</div>
-->     </div>
    </div>
</div>
</body>
</html>



