<!DOCTYPE html>
<html>

  <head>
  </head>
  <body>
	  <div class="modal-dialog text-center">
	  	<div class="col-sm-12 main-section">
	  		<div class="modal-content">
	  			<div class="col-12 logo-img">
	  				<img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg">	  				
	  			</div>
			  	<form class="form-signin col-12">
		  			<h1 class="signtext">Please Sign in</h1>
			  	  	<div class="form-group-log">
			  			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			  		</div>
			  		<div class = "form-group-log">
			  			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			  		</div>

			  		<label for="inputEmail" class="sr-only">Email Address</label>
			  		<label for="inputPassword" class="sr-only">Password</label>
			  		<div class="checkbox mb-3">
			  			<label>
			  				 <input type="checkbox" value="remember-me">
			  			 		Remember me	
			  			</label>
			  		</div>
			  		<button class="button-log" type="submit">
			  		Sign in</button>
				  	<div class="col-12 forgot">
				  		<a href="#">Forgot Password?</a>
				  	</div>			  		
			  	</form>

	  		</div>
	  	</div>
	  </div>
  </body>
</html>
