.btn-comments {
	height: 38px;
	width: 100px;
	background-color: #50FEE7;
	font-size: 18px;
	color: #FFF;
	font-size: 19px;
	border-radius: 5px;
}

.btn-comments:hover, .btn-comments:focus {
	background-color: #3dc6b4!important;
}


.modal-title-comments {
	align-items: center;
	color: white;
}

.form-group-name {
	color:white;
}

.form-group-email {
	color:white;
}

.form-group-comments {
	color:white;
}