body {
}

.main-section {
	margin: 0 auto;
	margin-top: 110px;
	padding: 0;
}

.modal-content {
	background-color: #3B4652;
	padding: 0 25px;
	box-shadow: 0px 0px 3px #848484;
}

.signtext {
	color: white;
	font-size: 40px;
}

.logo-img {
	margin-top: -45px;
	margin-bottom: 10px;
}

.logo-img img {
	height: 90px;
	width: 90px;
	border-radius: 20px;
	box-shadow: 0px 0px 2px #848484;
}

.form-group-log {
	margin-top: 30px;
	margin-bottom: 10px;
}

.form-group-log input {
	height: 42px;
	border-radius: 20px;
	border:0;
	font-size: 18px;
	padding-left: 20px;

}


.button-log {
	width: 50%;
	margin: 5px 0 25px;
	background-color: #50FEE7;
	font-size: 18px;
	color: #FFF;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;

}

.button-log:hover, .button-log:focus {
	background-color: #3dc6b4!important;
}

.forgot {
	padding: 5px 0 25px;
}

.checkbox {
	color: white;
}





